.container {
    position: absolute;
    z-index: 1;
    align-items: center;
    width: 100vw;
    left: 0;
    top: 0;
    padding: 3rem 1rem 1rem 1rem;
    background-color: rgba(36, 36, 36, 0.74);
     :global {
        .input {
            width: 100%;
            margin-bottom: 0.5rem;
        }
    }
}

.icon__toogle[i] {
    margin: 0;
}
