.EditorStoriesKingdom {
    position: relative;
     :global {
        .DraftEditor-root {
            display: inline-block;
            width: 100%;
            min-height: 300px;
            min-width: 100px;
            padding: 1rem 1.5rem;
            line-height: 2rem; // background-color: #c3c1c1;
            background-color: black;
            color: white;
            writing-mode: vertical-rl;
            text-align: left;
            overflow: scroll;
        }
    }
}

.box__editor {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border: 1px solid red;
}
