.test {
    text-align: right;
    font-size: 1.2rem;
}

.box__hashtag {
    color: blue;
}

:global {
    .DraftEditor-root {
        display: inline-block;
        width: 100%;
        min-height: 300px;
        min-width: 100px;
        padding: 1rem 1.5rem;
        line-height: 2rem; // background-color: #c3c1c1;
        background-color: black;
        color: white;
        writing-mode: vertical-rl;
        text-align: left;
    }
    .superFancyBlockquote {
        color: #999;
        font-family: 'Hoefler Text', Georgia, serif;
        font-style: italic;
        text-align: center;
    }
    .ctrlBar {
        &>div {
            margin: 1rem 0;
        }
        button {
            margin: 2px;
        }
    }
}
