.test {
    text-align: right;
    button{
        float: left;
    }
}

:global .DraftEditor-root {
    display: inline-block;
    min-height: 100px;
    min-width: 100px;
    line-height: 2rem;
    background-color: #c3c1c1;
    writing-mode: vertical-rl;
    text-align: left;
}

:global .superFancyBlockquote {
    color: #999;
    font-family: 'Hoefler Text', Georgia, serif;
    font-style: italic;
    text-align: center;
}
